.App {
  text-align: center;
  width: 450px;
  padding: 20px;
  overflow: hidden;
  /*background-color: bisque;*/
  /*float: right;*/

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  clear: none;
}

.App-intro {
  font-size: large;
}

#view {
  width: 50%;
  display:block;
}


/*p {*/
  /*display: inline-block;*/
  /*padding:5px;font-size:20px;background-color:green;color:#ffffff;*/

/*}*/
button {
  background: lightcyan;
}
.outer {
  display: block;
  clear: both;/*clear float right*/
}
.lbubble,
.rbubble,
button {
  box-sizing: border-box;
  position: relative;
  max-width: 80%;
  padding: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px 0px #616161;
  box-shadow: 2px 2px 7px 0px #616161;
  display: inline-block;
  margin-bottom: 8px;

}
.lbubble {
  background: lightblue;
  /*text-align: left;*/
  float:left;
  clear:right;
}
.rbubble {
  background: lightgreen;
  float: right;/*add float right*/
  clear: left;
  /*text-align: right;*/
}
.lbubble:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -8px;
  border-style: solid;
  border-width: 10px 14px 10px 0;
  border-color: transparent lightblue;
  width: 0;
  z-index: 1;
}
.rbubble:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -8px;
  border-style: solid;
  border-width: 10px 0 10px 14px;
  border-color: transparent lightgreen;
  width: 0;
  z-index: 1;
}
.remainder {
  /*color: lightgreen;*/
  text-align: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
